$topnav-height: 4rem;
$theme-color-1: #455073;
$theme-color-2: #c0904d;
$sidenav-width: 16.5625rem;
$sidenav-collapsed-width: 0;
$body-background-color: #1f1f1f;
$theme-text-color: #fff;
$card-background-color: rgba(42, 42, 42, 0.951);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Roboto", sans-serif;
    background: $body-background-color;
    height: 100vh;
}

.form-control {
    background: $body-background-color !important;
    color: $theme-text-color !important;
}

.form-check-input {
    background: $body-background-color !important;
    color: $theme-text-color !important;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $theme-color-2 !important;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $theme-color-2 !important;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: $theme-color-2 !important;
}

.card {
    background-color: $card-background-color !important;
    color: $theme-text-color !important;
    position: static !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.card-body {
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
}

.icon {
    background-color: $theme-text-color !important;
    font-size: 18px !important;
    border-radius: 50% !important;
    display: flex !important;
    height: 2.5rem !important;
    width: 2.5rem !important;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
    color: $body-background-color !important;
}

.options {
    font-size: 18px !important;
    display: flex !important;
    height: 2.5rem !important;
    width: 2.5 !important;
    justify-content: end !important;
    text-align: center !important;
    align-items: center !important;
    right: 0.5rem !important;
    cursor: pointer !important;
}

.dropdown-menu {
    background: $body-background-color !important;
    color: $theme-text-color !important;
}

.dropdown-item {
    color: $theme-text-color !important;
}

.header {
    border-radius: 0.375rem !important;
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.nav-link {
    color: $theme-text-color !important;
}

.tab-active {
    background-color: $theme-color-2 !important;
    color: $theme-text-color !important;
}

.form-control {
    border: 1px $theme-color-2 solid !important;
    color: $theme-text-color !important;
}

.input-group-text {
    background: $theme-color-2 !important;
    border: 1px $theme-color-2 solid !important;
    cursor: pointer !important;
}

.title {
    padding-top: 0.5rem !important;
    width: 100% !important;
    justify-content: center !important;
    text-align: center !important;
}

.form {
    padding-top: 2rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 2rem !important;
}

.card {
    background-color: $card-background-color !important;
    position: inherit !important;
}

.row {
    padding-top: 1rem !important;
}

.selected-icon {
    background-color: $theme-color-2 !important;
    font-size: 18px !important;
    border-radius: 50% !important;
    display: flex !important;
    height: 2.5rem !important;
    width: 2.5rem !important;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
    color: $theme-text-color !important;
}

.icon {
    background-color: $body-background-color !important;
    font-size: 18px !important;
    border-radius: 50% !important;
    display: flex !important;
    height: 2.5rem !important;
    width: 2.5rem !important;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
    color: $theme-text-color !important;
    margin-bottom: 1rem !important;
    cursor: pointer !important;
}

.icon:hover {
    background-color: $theme-color-2 !important;
}

.more-icon {
    background-color: $card-background-color !important;
    border-radius: 10% !important;
    color: $theme-text-color !important;
    border: 1px $theme-color-2 solid !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.btn-action {
    width: 100% !important;
}

.btn-save {
    background-color: $theme-color-2 !important;
    border: 0 !important;
    color: $theme-text-color !important;
}

.modal-content {
    background: $body-background-color !important;
}

.btn-close {
    color: $theme-text-color !important;
}

.modal-header {
    border-bottom: $theme-color-2 1px solid !important;
}

.modal-footer {
    border-top: $theme-color-2 1px solid !important;
}

.middle {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.calc-auto {
    border: $body-background-color 1px solid !important;
    background: $card-background-color !important;
}